@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a; 
  --foreground: #e5e5e5; 
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient {
  animation: gradientMove 12s ease infinite;
}
